Repository luongdang/morningstar: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app.yml, pipelines/cluster.yml

pipelines/app.yml:

# https://learn.microsoft.com/en-us/azure/devops/pipelines/yaml-schema/?view=azure-pipelines

name: 1.0$(Rev:.r)
trigger:
  branches:
    include:
      - main
      - pipelines # TODO: remove this
  paths:
    include:
      - app/*
      - pipelines/app.yml # TODO: remove this

jobs:
  - job: update_app
    steps:
      - template: steps_configure_aws.yml
      - bash: |
          set -xueo pipefail

          eksctl utils write-kubeconfig -f cluster/morningstar.yml
          kubectl config current-context
          
          kubectl apply -f app/dns.yml
          kubectl apply -f app/timeoff-management.yml
          kubectl apply -f app/ingress.yml
        displayName: Debug

pipelines/cluster.yml:

# https://learn.microsoft.com/en-us/azure/devops/pipelines/yaml-schema/?view=azure-pipelines

# This pipeline delivers changes to the EKS cluster. 
# To update the Timeoff Management app, use the `app.yml` pipeline.
#
# There are 3 execution modes:
#   - create: create the cluster on EKS
#   - update: update the existing cluster
#   - delete: remove the cluster from EKS
#
# The default mode is `update`, which will be trigger automatically upon every
# changes to `cluster` folder. `create` and `delete` can be triggered
# automatically, since they are expected to run far less often than `update`.

name: 1.0$(Rev:.r)
trigger:
  branches:
    include:
      - main
      - pipelines # TODO: remove this
  paths:
    include:
      - cluster/*
      - pipelines/cluster.yml # TODO: remove this

parameters:
  - name: mode
    displayName: Mode
    type: string
    values:
      - create
      - update
      - delete
    default: update

variables:
  - group: aws-credentials

stages:
  - stage: cluster_action
    displayName: Cluster Action
    jobs:
      - job: create_cluster
        condition: eq('${{ parameters.mode }}', 'create')
        displayName: Create Cluster
        steps:
          - template: steps_configure_aws.yml
          - bash: eksctl create cluster -f cluster/morningstar.yml
            displayName: Create Cluster
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

      - job: update_cluster
        displayName: Update Cluster
        condition: eq('${{ parameters.mode }}', 'update')
        steps:
          - template: steps_configure_aws.yml
          - bash: |
              set -xueo pipefail
              eksctl upgrade cluster -f cluster/morningstar.yml --approve
              eksctl update iamserviceaccount -f cluster/morningstar.yml --approve
            displayName: Update Cluster
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

      - job: delete_cluster
        displayName: Delete Cluster
        condition: eq('${{ parameters.mode }}', 'delete')
        steps:
          - template: steps_configure_aws.yml
          - bash: |
              set -xueo pipefail

              kubectl delete namespace app
              eksctl delete cluster -f cluster/morningstar.yml
            displayName: Delete Cluster
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

Updated pipeline
  pipelines/app.yml
Due: pipelines/app.yml

Updated pipeline
  pipelines/app.yml
  pipelines/cluster.yml
Due: pipelines/app.yml, pipelines/cluster.yml

Added certificate and HTTPS redirect
  app/cert-manager.yml
  app/ingress.yml
  app/issuer-letsencrypt-prod.yml
  app/issuer-letsencrypt-staging.yml
Due: pipelines/app.yml

Updated pipeline
  pipelines/steps_configure_aws.yml
Due: none

Updated pipeline
  pipelines/app.yml
  pipelines/steps_configure_aws.yml
Due: pipelines/app.yml

Updated pipeline
  pipelines/cluster.yml
Due: pipelines/cluster.yml

Remove dead code
  app/ingress.yml
  cluster/morningstar.yml
Due: pipelines/app.yml, pipelines/cluster.yml

Updated documentation
  README.md
  app/timeoff-management.yml
Due: pipelines/app.yml

Updated documentation
  README.md
Due: none

Added diagram to README
  README.md
  pipelines/cluster.yml
Due: pipelines/cluster.yml

Updated README
  README.md
Due: none
